<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>all101.png</string>
		<key>sectitle</key>
		<string>果园精选各地特色鲜果</string>
		<key>title</key>
		<string>新鲜瓜果</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>all102.png</string>
		<key>sectitle</key>
		<string>精选各地特色肉类海鲜</string>
		<key>title</key>
		<string>肉类海鲜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>all103.png</string>
		<key>sectitle</key>
		<string>精选各地特色绿色粮油</string>
		<key>title</key>
		<string>绿色粮油</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>all104.png</string>
		<key>sectitle</key>
		<string>精选各地特色坚果干货</string>
		<key>title</key>
		<string>坚果干货</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>all105.png</string>
		<key>sectitle</key>
		<string>精选各地特色健康养生</string>
		<key>title</key>
		<string>健康养生</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>all106.png</string>
		<key>sectitle</key>
		<string>精选各地特色中外红酒</string>
		<key>title</key>
		<string>中外红酒</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>all107.png</string>
		<key>sectitle</key>
		<string>精选各地特色风味小吃</string>
		<key>title</key>
		<string>风味小吃</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>all108.png</string>
		<key>sectitle</key>
		<string>精选各地特色特色饮品</string>
		<key>title</key>
		<string>特色饮品</string>
	</dict>
</array>
</plist>
